.color-cube {
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 1px solid black;
}

#redCube, #red {
  background-color: red;
}

#yellowCube, #yellow {
  background-color: yellow;
}

#greenCube, #green {
  background-color: green;
}

#blueCube, #blue {
  background-color: blue;
}
